body {
    font-size: 15px;
    width: 1440px;

}


h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700px; 
    
}

#header-main {
    font-family: 'Spartan', sans-serif;
    font-weight: 400px;
    color: hsl(300, 43%, 22%);
    display: flex;   
    flex-direction: column;
    width: 30%;

}



#header {

}


.Ratings-Group {

    display: flex;
    flex-direction: column;
    
    
    
}

#Rating-1 {
    color: hsl(300, 43%, 22%);
    background: hsl(333, 80%, 67%);
    margin: 7px;
    align-self: flex-start;
    
    
    
}

#Rating-2 {
    color: hsl(300, 43%, 22%);
    background: hsl(333, 80%, 67%);
    margin: 7px;
    align-self: center;

}

#Rating-3 {
    color: hsl(300, 43%, 22%);
    background: hsl(333, 80%, 67%);
    margin: 7px;
    align-self: flex-end;
}

