#background {
    font-size: 15px;
    margin: 100px;

    

}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


h1 {
    font-family: 'Spartan', sans-serif;

    
}

#header-main {


    color: hsl(300, 43%, 22%);
     width: 50%;
  

}

#header-header {
    font-size: 50px;

}


#header {
   font-family: 'Spartan', sans-serif; 
}

.container #Ratings-Group {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


#Ratings-Group {

    display: flex;
    flex-direction: column;
    width: 50%; /* adding width makes site unresponsive */
    font-family: sans-serif;  
}

.space {
    padding-left: 30px;
}

.Rating-1 {
    color: hsl(300, 43%, 22%);
    background: hsla(333, 80%, 67%, 0.2);
    align-self: flex-start;
    margin: 7px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    flex-wrap: wrap;

 
}

#Ratings-Group > div {
    display: flex;
    align-items: center;
}



.Rating-2 {
    color: hsl(300, 43%, 22%);
    background: hsla(333, 80%, 67%, 0.2);
    align-self: center;
    margin: 7px;
    padding-left: 25px;
    padding-right: 40px;
    border-radius: 10px;
    flex-shrink: 2;
    flex-wrap: wrap;

}

.Rating-3 {
    color: hsl(300, 43%, 22%);
    background: hsla(333, 80%, 67%, 0.2);
    align-self: flex-end;
    margin: 7px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    flex-wrap: wrap;

}

.Customers  {
     display: flex;
    flex-direction: row;
    font-family: sans-serif;
    flex-wrap: wrap;

}

.group {
    display: flex;
}

.name {
    margin-left: 25px;
    font-weight: bold;

}

.verified-buyer {
    display: flex;
    color: antiquewhite;
    justify-content: center;

}


.Customers > div {
    display: flex;
    flex-direction: column; 

}

 .Customers img {
    border-radius: 40px;
}

#Customer-1   {
    color: white;
    background:  hsl(300, 43%, 22%);
    padding: 30px 80px 30px 80px;
    margin: 10px;
    border-radius: 10px;
    align-self: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
    width: 15%;



}

#Customer-2 {
    color: white;
    background:  hsl(300, 43%, 22%);
    padding: 30px 80px 30px 80px;
    margin: 10px;
    border-radius: 10px;
    align-self: center;
    margin-top: 25px;
    width: 15%;
}

#Customer-3 {
    color: white;
    background:  hsl(300, 43%, 22%);
    padding: 30px 80px 30px 80px;
    margin: 10px;
    border-radius: 10px;
    align-self: flex-end;
    margin-top: 75px;
    width: 15%;
    
}

