 html body {
    /*position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;*/
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

#container {
margin: 0;
width: 100%;
font-size: 16px;
font-family: 'Karla', sans-serif;



}

.column {
    display: flex;
    flex-direction: row;
}

#col-1 {
    background: white;
    width: 100%;

}

#col-2 {
    background: hsl(179, 56%, 36%);
    width: 50%;
    
}

#col-3 {
    background: hsl(179, 62%, 43%);
    width: 50%;   
}

.text {
    margin: 3.5rem;
    text-align: left;
    width: 100%;
    
    
}

.header-1 {
    color: hsl(179, 62%, 43%);
}
.header-2 {
    color: hsl(71, 73%, 54%);
}

p {
    color: hsl(218, 22%, 67%);
    line-height: 2em;
}

.text-col-2  {
    color: hsl(204, 43%, 93%);
}

.text-col-3 {
    color: hsl(204, 43%, 93%);    
}

.text-col-li {
    color: hsl(204, 43%, 93%); 
    list-style-type: none;
}

button {
    outline: none;
    width: 50%;
    height: 6.5vh;
    margin: 2.5rem;
    margin-left: 9em;
    border-radius: 7px;
    background: hsl(71, 73%, 54%);
    color:  white;
    font-weight: 700;
    box-shadow: 3px 3px;
    padding: 0;
    border: 0;
    

}

button:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}


@media screen and (max-width: 925px) {

    .column {
        display: flex;
        flex-direction: column;
    }

    #col-2  {
        width: 100%;
          
    }

    #col-3 {
        width: 100%;
    }


    
button {
    outline: none;
    width: 85%;
    height: 6.5vh;
    border-radius: 7px;
    background: hsl(71, 73%, 54%);
    color:  white;
    font-weight: 700;
    box-shadow: 3px 3px;
    border: 0;
    margin: 30px auto;
    display: block;

    

}

body {
    margin: 0 auto;
    width: 100%;

}

.text {

    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;


}

    


}